.about {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-family: 'Work Sans', sans-serif;
}

.about-content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -3rem;
    color: #4A4A4A;
}

.about-greeting {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #004AAD;
}

.about-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-experiences h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-experiences ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2.5rem;
    text-align: left;
}
  
.about-experiences li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.3rem;
    line-height: 1.6;
}

.about-experiences li::before {
    content: "-";
    position: absolute;
    left: 0;
}

.resume-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }

.resume-link:hover {
    color: #C46327;
}

.resume-icon {
    transition: transform 0.3s ease;
}
  
.resume-link:hover .resume-icon {
    transform: translateX(3px);
}

@media (max-width: 768px) {
    .about {
      padding: 1rem;
      padding-top: 4rem;
    }
    
    .about-greeting {
      font-size: 2rem;
    }
    
    .about-subtitle {
      font-size: 1.2rem;
    }
    
    .about-experiences li {
      font-size: 1rem;
    }
  }