@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Montserrat:wght@400;500;600&family=Work+Sans:wght@400;500&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}

body {
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}