.home {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-family: 'Work Sans', sans-serif;
}

.hero {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -3rem;
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333
}

.highlight {
    color: #D62525;
}

.hero-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}

.company-link {
    color: #666;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.company-link:hover {
    opacity: 1;
}

.company-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #D62525;
    transition: width 0.3s ease;
}

.company-link:hover::after {
    width: 100%;
}
